<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
		
	<!-- dataSource -->
	<bean id="ds" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value= "jdbc:mysql://localhost:3306/db_school"/>
		<property name="username" value="gbUser"/>
		<property name="password" value="12345"/>
	</bean> 
	
	<!-- sessionFactory   아래 3가지 클래스를 버무려서 만들어라! -->
	<bean id="sqlSessionFactory" 
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"/>
		<property name="mapperLocations" 
			value="/WEB-INF/spring/mybatis-mapper/*-mapper.xml"/> 
			<!-- SQL 명령어만 xml형태로 저장해놓음 -->
			<!-- *-mapper 모든 mapper다 읽을 수 있게 설정 -->
		<property name="typeAliasesPackage" 
			value="com.callor.score.model"/> 
			<!-- return하거나 매개변수로 쓰는 VO typeAliasesPackage 로 지정된 VO에 챙겨놓음 -->
	</bean>

	<mybatis-spring:scan 
		base-package="com.callor.score.dao.ext"/> 
		<!--  dao 인터페이스 만들어둔 메서드(CRUD 담당) 스캔 -->
	
	<!-- sessionTemplate -->
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>
	
	<!-- 
	spring.jdbc에서 transaction 설정하기
	DataSourceTransactionManager를 bean으로 선언하기
	이때 id는 transactionManager로 설정하기 
	(id는 spring, mybatis가 사용하기떄문에 임의로 이름을 적으면 x 
		최근엔 적지않아도되지만 호환성떄문에 작성한다)
	dataSource 솔성에 위에서 선언한 dataSource를
	ref로 지정하기
	tx:annotation-driven
	 -->
	<tx:annotation-driven/>
	<bean id="transactionManager" 
			class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="ds"/>
	</bean>
	
	
</beans>
