<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.callor.score.dao.ext.StudentDao">

	<select id="selectAll" resultType="StudentVO">
		SELECT * FROM tbl_student 
		ORDER BY st_num DESC
		LIMIT 10
	</select>
	<!-- LIMIT 는 데이터를 몇개까지만 가져오라는 명령으로
	MySQL에만 있는 명령어 -->
	<select id="findById" resultType="StudentVO">
		SELECT * FROM tlb_student WHERE st_num = #{st_num}
	</select>
	<!-- 
	mapper의 각 기능의 id값은 Dao에 설정된 method 이름으로 설정.
	Dao의 method 가  id로 사용되기 때문에
	Mybatis에서는 Dao의 method를 중복정의 할 수 없다.
	 -->
	 <!-- resultType에 String이나 int같은 기본타입은 
	 안적어도 됐었는데 가끔 문제가 있다..? 이문제가 아닌 것 같기도 하다.-->
	<select id="getMaxStNum" resultType="String">
		SELECT MAX(st_num) AS st_num FROM tbl_student
	</select>
	<insert id="insert" parameterType="StudentVO">
		INSERT INTO tbl_student(
				st_num, st_name, st_dept, 
			    st_grade, st_tel, st_addr
		)VALUES(
			#{st_num}, #{st_name}, #{st_dept}, 
		    #{st_grade}, #{st_tel}, #{st_addr}
		)
	</insert>
	<!-- SQL문을 마음껏 써도됨. 대신 새미콜론(;) 은 빼야함! -->
	<!-- 칼럼명은 대소문자 상관x VALUES안의 #{} 사이에는 무조건 소문자 -->
	<!-- VALUES에 있는 것은 VO에 들어있는 변수명으로 -->
	
	<!-- ? 대신에 #{}에 알아서 StudentVO에 맞춰서 값을 setting 해라 
		sessionFactory에서 다 해줌 -->
	
	<update id="update" parameterType="StudentVO">
		UPDATE tbl_student SET
			st_name		= #{st_name},
			st_dept		= #{st_dept},
			st_grade	= #{st_grade},
			st_tel		= #{st_tel},
			st_addr		= #{st_addr}
		WHERE st_num	= #{st_num}	
	</update>
		
	<delete id="delete" parameterType="String"> <!-- parameterType="String"이거 안적어도됨. 디폴드인듯. -->
		DELETE FROM tbl_student WHERE st_num = #{st_num}
	</delete>
</mapper>