@charset "UTF-8";
	/* 여기도 form에 대하여 공통, 공유되는 속성을 지정해놓은 것 */

	form {
		width: 80%;
		margin: 15px auto;
	}
	
	fieldset {
		border: 1px solid green;
		border-radius: 15px;
	}
	
	legend { 
		text-align: center;
		padding: 10px 20px;
		background-color: #aaa;
	}
	
	form div {
		width: 80%;
		margin: 5px auto;
	}
	
	form label { /* 기본적으로 inline 속성이라 width 를 줄수가 없음!*/
		display: inline-block;
		width: 20%; /* width로 줄 맞추고*/
		
		text-align: right; /* 오른쪽 정렬 */
		margin: 4px 5px;
		padding: 8px;
		color: rgba(0, 0, 255, 0.6);
		font-weight: bold;
	}
	
	form input {
		width: 70%;
		margin: 4px 5px;
		padding: 8px;
		border-radius: 25px;
		outline: 0; /* input box에  radius줬을때 각진외각선 보이는거 없애기*/
		border-color: rgba(0,255,0,0.5);
	}
	
	form input:focus {
		border-color: #999;
	}
	
	form input:hover {
		background-color: #ddd;
	}